numpy
scipy
pandas
opencv-python
Pillow
matplotlib
tqdm
pyyaml
yacs
torch
torchvision
lpips
tensorboard
transformers
huggingface_hub
imgaug
plyfile
sympy
bidict
ipdb
imageio
imageio-ffmpeg
open3d
timm
torchmetrics
kornia
roma
imgviz
protobuf==3.19
termcolor
segment_anything
